/build/
/bin/
/.gradle/
/.classpath/
/.project/
/.springBeans/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/build/
/bin/
/build/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
